.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  padding-top: 10px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none; 
  width: 130px;
}

.navbar-fixed-left + .container {
  padding-left: -50px;
}

.container {
    margin-top: 50px;
    margin-left: 160px;
    padding:20px;
}